<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FORMULÁRIO</title>
</head>
<body>
    <h1>Formulário</h1>
    <form action="/pessoa/formulario" method="post">
        <input type="text" name="Nome" />
        <input type="text" name="Telefone" />
        <input type="submit" value="Cadastrar" />
    </form>
</body>
</html>