@model string
@{  Layout = null;}
<!DOCTYPE html>    
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-widht" />
    <title>Controllers & Actions </title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
    <body>
        Model: @Model
    </body>
    </html>